#footer {
  &.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    width: 56px;
  }
  .footer-link {
    font-size: 13px;
  }
  .footer-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
